---
const { title = "chorus" } = Astro.props;
import { Image } from "astro:assets";
import Logo from "../assets/chorus.svg";
import UserDropdown from "./UserDropdown.astro";
---

<style>
    header.title-bar {
        background-color: var(--pirate-teal);
        color: var(--parchment);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        box-shadow: var(--shadow);
    }
    
    .logo {
        font-size: 1rem;
        font-weight: bold;
        color: var(--golden-treasure);
        text-shadow: 1px 1px 2px var(--charcoal);
    }
</style>

<header class="title-bar">
    <a href="/dashboard">
        <div class="logo">
            <Image src={Logo} alt="Chorus" width={64} height={16} />
        </div>
    </a>
    <div class="user">
        <UserDropdown />
    </div>
</header>
