---
const { title = "chorus" } = Astro.props;
import { Image } from "astro:assets";
import Logo from "../assets/chorusLogoLight.svg";
import UserDropdown from "./UserDropdown.astro";
---

<style>
    header.title-bar {
        background-color: var(--pirate-teal);
        color: var(--parchment);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        box-shadow: var(--shadow);
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
</style>

<header class="title-bar">
    <a href="/dashboard">
        <div class="logo">
            <Image src={Logo} alt="Chorus" width={200} height={40} />
        </div>
    </a>
    <div class="user">
        <UserDropdown />
    </div>
</header>
