---
import "../styles/style.css";
import { Image } from "astro:assets";
import wordmark from "../assets/chorus.svg";
---

<div id="container">
    <main>
        <section id="hero">
            <a href="https://astro.build"></a>
        </section>
    </main>
    <div class="container">
        <div class="centered-div">
            <Image src={wordmark} alt="wordmark" />
        </div>
    </div>
</div>

<style>
    .container {
        display: grid;
        place-items: center;
        min-height: 100vh; /* Optional - for vertical centering */
    }
</style>
