---
import { Image } from "astro:assets";
import wordmark from "../assets/chorus.svg";
---

<div id="container">
    <div class="container">
        <div class="centered-div">
            <Image src={wordmark} alt="wordmark" />
        </div>
    </div>
</div>
